2025_language_games.aux
2025_language_games.log
2025_language_games.nav
2025_language_games.out
2025_language_games.snm
2025_language_games.synctex.gz
2025_language_games.toc
2025_language_games.synctex.gz
2025_language_games.synctex.gz
2025_language_games.synctex.gz
*.aux
*.log
*.out
2025_pw_adversarial.synctex.gz
*.toc
*.snm
*.nav
2025_pw_adversarial.pdf
2025_language_games.bbl
2025_sb_helpful.pdf
2025_sb_helpful.synctex(busy)
2025_sb_helpful.synctex.gz
2025_sb_helpful.blg
2025_sb_helpful.bbl
2025_zurich_helpful.pdf
2025_zurich_helpful.synctex(busy)
2025_zurich_helpful.synctex.gz
2025_zurich_research_teaching.pdf
2025_zurich_research_teaching.synctex(busy)
2025_zurich_research_teaching.synctex.gz
2025_zurich_helpful_long.pdf
2025_zurich_helpful_short.pdf
2025_zurich_helpful_compressed.pdf
