2025_language_games.aux
2025_language_games.log
2025_language_games.nav
2025_language_games.out
2025_language_games.snm
2025_language_games.synctex.gz
2025_language_games.toc
2025_language_games.synctex.gz
2025_language_games.synctex.gz
2025_language_games.synctex.gz
*.aux
*.log
*.out
2025_pw_adversarial.synctex.gz
*.toc
*.snm
*.nav
2025_pw_adversarial.pdf
